#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.module_amp {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: 0.02rem solid rebeccapurple;
  padding: 0.8rem 1rem 1rem;
}

.module_title {
  padding: 0 0 0.3rem;
  margin: 0;
}

.vertical_slider {
  /*-moz-appearance: slider-vertical;*/
  /*-webkit-appearance: slider-vertical;*/
  writing-mode: vertical-lr;
  direction: rtl;
}

.vertical_slider_board {
  display: flex;
  justify-content: space-between;
}

.vertical_slider_container {
  display: flex;
  flex-direction: column;
  width: 2.3rem;
}

.slider_value {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.slider_label {
  margin: 0;
}
