#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.instrument {
  user-select: none;
}

.module_amp {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: 0.02rem solid rebeccapurple;
  padding: 0.8rem 1rem 1rem;
}

.module_LFO {
  flex-direction: row;
  width: 40rem;
  justify-content: space-between;
  padding: 0.1rem 1rem 0.1rem;
}

.module_LFO > * {
  align-content: center;
}

.module_title {
  padding: 0 0 0.3rem;
  margin: 0;
  color: gold;
}

.vertical_slider {
  /*-moz-appearance: slider-vertical;*/
  /*-webkit-appearance: slider-vertical;*/
  writing-mode: vertical-lr;
  direction: rtl;
}

.vertical_slider_board {
  display: flex;
  justify-content: space-between;
}

.vertical_slider_container {
  display: flex;
  flex-direction: column;
  width: 2.3rem;
}

.slider_value {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.slider_label {
  margin: 0;
  font-size: 1rem;
}

.instrument_voice {
  display: flex;
  flex-direction: row;
}

/* Thnaks for the dial saltofthemar! */
.dial-container {
  width: 3.5rem;
}

.dial-knob {
  align-content: center;
}

.knob_group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dial-division {
  z-index: -1;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  /* I really need to learn what this does... */
  --c: #fff;
  --w: 0.18rem;
  --grad: transparent calc(50% - var(--w)/2),
    var(--c) calc(50% - var(--w)/2 + 1px),
    calc(50% + var(--w)/2 - 1px),
    transparent calc(50% + var(--w)/2);
  background:
    linear-gradient(0deg   ,var(--grad)),
    linear-gradient(30deg  ,var(--grad)),
    linear-gradient(60deg  ,var(--grad)),
    linear-gradient(90deg  ,var(--grad)),
    linear-gradient(-60deg ,var(--grad)),
    linear-gradient(-30deg  ,var(--grad));
}

.dial-visual {
  z-index: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.5rem;
  background: #242424;
  border-radius: 50%;
  border: white 0.1rem solid;
  pointer-events: auto;
  cursor: grab;
}

.dial-indicator {
  position: relative;
  top: 10%;
  left: 50%;
  width: 0.2rem;
  height: 20%;
  background: white;
  transition: transform 2s linear;
  transform: translateX(-50%);
}

.disabled-color {
  color: grey;
}

.disabled-background {
  color: grey;
}
